@model Trasalum.Models.Cohort

@{
    ViewData["Title"] = "Edit";
}

<h2>Update</h2>

<h4>Cohort</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Number" class="control-label"></label>
                <input asp-for="Number" class="form-control" />
                <span asp-validation-for="Number" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <input asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DemoDate" class="control-label"></label>
                <input asp-for="DemoDate" class="form-control" />
                <span asp-validation-for="DemoDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label >Instructors</label>
                <div class="col-md-offset-2 col-md-10">
                    <div>
                        @{List<Trasalum.Models.StaffViewModels.AssignedStaffData> staffs = ViewBag.Staffs;
                            foreach (var staff in staffs)
                            {
                                @:<input type="checkbox" name="selectedStaffs" value="@staff.StaffId" @(Html.Raw(staff.Assigned ? "checked=\"checked\"" : "")) />
                                @:  @staff.StaffName
                            }
                        }
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label>Technologies</label>
                <div class="col-md-offset-2 col-md-10">
                    <div>
                        @{List<Trasalum.Models.TechViewModels.AssignedTechData> techs = ViewBag.Techs;
                            foreach (var tech in techs)
                            {
                                @:<input type="checkbox" name="selectedTechs" value="@tech.TechId" @(Html.Raw(tech.Assigned ? "checked=\"checked\"" : "")) />
                                @:  @tech.TechName
                            }
                        }
                    </div>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
