@model Trasalum.Models.CohortViewModels.CohortDetailedListViewModel

@{
    ViewData["Title"] = "Index";
}

<h2>Cohorts</h2>

<p>
    @* Will implement later *@
    <a asp-action="Add">Add New Cohort</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Cohort#
            </th>
            <th>
                Start Date
            </th>
            <th>
                Demo Day
            </th>
            <th>
                Instructors
            </th>
            <th>
                Technologies
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.CohortDetailedList.OrderByDescending(c => c.Cohort.DemoDate)) {
    @if (item.Cohort.Id != "NONE")
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Cohort.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cohort.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cohort.DemoDate)
            </td>
            <td>
                @foreach (Staff instructor in item.Instructors)
                {
                        @Html.DisplayFor(person => instructor.Name)<br />
                }
            </td>
            <td>
                @foreach (Tech tech in item.Tech)
                {
                        @Html.DisplayFor(t => tech.Name)<br />
                }
            </td>
            <td>
                @* Will implement later*@
                <a asp-action="Edit" asp-route-id="@item.Cohort.Id">UPDATE</a>
            </td>
        </tr>
        }
    }
    </tbody>
</table>
