@model Trasalum.Models.EngagementComments

@{
    ViewData["Title"] = "Details";
}

<h2>View Details</h2>

<div>
    <h4>Event / Engagement</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Date/Time of Event:
        </dt>
        <dd>
            @Model.Date
        </dd>
        <dt>
            Organizer:
        </dt>
        <dd>
            @Model.Organizer
        </dd>
        <dt>
            Description of Event:
        </dt>
        <dd>
            @Model.Description
        </dd>
        <dt>
            Type of Event/Engagement:
        </dt>
        <dd>
            @ViewBag.CurrentEngagementType
        </dd>
        <dt>
            Technology Topic:
        </dt>
        <dd>
            @ViewBag.CurrentTech
        </dd>
        <dt>
            Associated Meetup Group:
        </dt>
        <dd>
            @ViewBag.CurrentMeetup
        </dd>
        <dt>
            Alum Speaker:
        </dt>
        <dd>
            @ViewBag.CurrentAlum
        </dd>
        <dt>
            Comments:
        </dt>
        <dd>
            @Model.Comment
        </dd>

    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@ViewBag.CurrentEngagementId">Edit</a> |
    <a asp-action="Index">Back to List of Events/Engagements</a>
</div>
