@model Trasalum.Models.EngagementComments

@{
    ViewData["Title"] = "Edit";
}

<h2>Update</h2>

<h4>Event / Engagement</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<input type="hidden" asp-for="Id" />*@
            <div class="form-group">
                <label class="control-label">Date/Time of Event</label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Organizer (currently: @ViewBag.CurrentOrganizer)</label>
                <select asp-for="Organizer" class="form-control" asp-items="ViewBag.OrganizerId"></select>
                <span asp-validation-for="Organizer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Description of Event</label>
                <input asp-for="Description" class="form-control" text="ViewBag.Description"/>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Type of Event/Engagement (currently: @ViewBag.CurrentEngagementType)</label>
                <select asp-for="EngagementType" class="form-control" asp-items="ViewBag.EngagementTypeId"></select>
                <span asp-validation-for="EngagementType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Technology Topic (currently: @ViewBag.CurrentTech)</label>
                <select asp-for="Tech" class="form-control" asp-items="ViewBag.TechId"></select>
                <span asp-validation-for="Tech" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Associated Meetup Group (currently: @ViewBag.CurrentMeetup)</label>
                <select asp-for="Meetup" class="form-control" asp-items="ViewBag.MeetupId"></select>
                <span asp-validation-for="Meetup" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Alum Speaker (currently: @ViewBag.CurrentAlum)</label>
                <select asp-for="Alum" class="form-control" asp-items="ViewBag.AlumList"></select>
                <span asp-validation-for="Alum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Comments (including any non-alum speaker names)</label>
                <input asp-for="Comment" class="form-control"  />
                <span asp-validation-for="Comment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

