@model Trasalum.Models.ContactNotes

@{
    ViewData["Title"] = "Create";
}

<h2>Past Contacts</h2>

<p>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Date/Time
            </th>
            <th>
                Initiated By
            </th>
            <th>
                Contact Method
            </th>
            <th>
                Notes
            </th>
            <th>
                Successful?
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @if (ViewBag.ContactHistory.Count != 0)
        {
            @foreach (var item in ViewBag.ContactHistory)
            {
                
                <tr>
                    <td>
                        @item.Date
                    </td>
                    <td>
                        @item.Staff.Name
                    </td>
                    <td>
                        @item.ContactType.Name
                    </td>
                    <td>
                        @if (item.Note.Detail.Length < 50)
                            {
                                string details = item.Note.Detail;
                                @details
                            }
                            else
                            {
                                string details = item.Note.Detail.Substring(0, 50) + "...";
                                @details
                            }
                    </td>
                    <td>
                        @item.Success
                    </td>
                    <td>
                        <a asp-action="Details" asp-route-id="@item.Id">View</a>
                    </td>
                </tr>
            }
        }
        @* If there is nothing in ContactHistory, display a message to this effect. *@
        @if (ViewBag.ContactHistory.Count == 0)
        {
            <tr>
                <td>
                    
                </td>
                <td>
                    NO
                </td>
                <td>
                    CONTACTS
                </td>
                <td>
                    LOGGED
                </td>
                <td>
                    
                </td>
                <td>
                    
                </td>
            </tr>
        }

    </tbody>
</table>


<h2>Log New Contact</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <lable class="control-label">Alum:</lable>
                <label class="form-control"> @ViewBag.AlumFirst @ViewBag.AlumLast</label>
                <input type="hidden" name="AlumFirst" class="form-control" value="@ViewBag.AlumFirst" />
                <input type="hidden" name="AlumLast" class="form-control" value="@ViewBag.AlumLast" />
            </div>
            <div class="form-group">
                <label class="control-label">Initiator:</label>
                @*<select asp-for="Initiator" class="form-control" asp-items="ViewBag.Initiator"></select>*@
                <label class="form-control">@ViewBag.Initiator</label>
                <input type="hidden" name="Initiator" class="form-control" value="@ViewBag.Initiator" />
            </div>
            <div class="form-group">
                <label class="control-label">Date/Time of Contact</label>
                <input asp-for="Date" class="form-control" placeholder='<% @ViewBag.Date %>' />
                @*<span asp-validation-for="Date" class="text-danger"></span>*@
            </div>
            <div class="form-group">
                <label>Contact Method</label>
                <select asp-for="ContactMethods" class="form-control" asp-items="ViewBag.ContactMethod"></select>
            </div>
            <div class="form-group">
                <label asp-for="Notes" class="control-label"></label>
                <input asp-for="Notes" class="form-control" />
                <span asp-validation-for="Notes" class="text-danger"></span>
                @*<asp:Textbox id="Notes" class="form-control" TextMode = System.Web.UI.WebControls.TextBoxMode.MultiLine />
                *@
            </div>

            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Success" /> @Html.DisplayNameFor(model => model.Success)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-route-id="@ViewBag.AlumId">List All @ViewBag.AlumFirst's Contacts</a> | 
    <a asp-controller="Alum" asp-action="Index">List Alums</a>

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
